* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.both {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

body {
    background: #555;
    z-index: -1;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.content-container {
    position: relative;
    margin: 0;
}

.add-movie__container {
    position: fixed;
    visibility: hidden;
    width: 70vw;
    height: 90vh;
    background: #232323;
    top: 5vh;
    left: 15vw;
    z-index: 2;
}

.form-movie__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    margin: 0 auto 30px auto;
}

.add-movie__main {
    position: relative;
    margin: 50px;
}

.header-add__text {
    font: 300 2rem/1rem 'Montserrat', sans-serif;
    color: #FFF;
    text-transform: uppercase;
}

#add-movie__form {
    margin-top: 35px;
    display: block;

    fieldset {
        border: 0;
    }

}

.label-add__movie {
    font: 300 1rem/1rem 'Montserrat', sans-serif;
    color: #F65261;
    text-transform: uppercase;
}

.input-add__left {
    font: 300 1rem/1rem 'Montserrat', sans-serif;
    color: #FFF;
    background: #424242;
    border: 0;
    width: 40vw;
    padding: 12px 0;
    text-indent: 15px;
}

.input-add__right {
    font: 300 1rem/1rem 'Montserrat', sans-serif;
    color: #FFF;
    background: #424242;
    border: 0;
    width: 20vw;
    padding: 12px 0;
    text-indent: 15px;
}

.input-add__big {
    position: relative;
    font: 300 1rem/1rem 'Montserrat', sans-serif;
    top: 0;
    color: #FFF;
    background: #424242;
    border: 0;
    max-width: 65vw;
    min-width: 65vw;
    min-height: 40px;
    max-height: 170px;
    padding: 12px 0;
    text-indent: 15px;

}

.button-movie__submit {
    position: relative;
    font: 500 1.3rem/1rem 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 20px;
    border: solid 2px #F65261;
    color: #FFF;
    text-transform: uppercase;
    background: #F65261;
    width: 180px;
    height: 57px;
    margin: 25px 0 0 15px;
}

.button-movie__reset {
    position: relative;
    font: 500 1.3rem/1rem 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 20px;
    border: solid 2px #F65261;
    color: #F65261;
    text-transform: uppercase;
    background: #232323;
    width: 180px;
    height: 57px;
    margin: 25px 0 0 15px;
}

.add-movie__congratulations {
    position: fixed;
    visibility: hidden;
    width: 60vw;
    height: 55vh;
    background: #232323;
    top: 15vh;
    left: 20vw;
    z-index: 3;

    .closeModal {
        top: 10px;
        right: 10px;
    }

    .successfully-container {
        display: flex;
        justify-content: center;
        width: 100%;

        .successfully {
            position: relative;
            width: 66px;
            height: 66px;
            background: #F65261;
            border-radius: 100%;
            margin-top: 42px;
        }

        .successfully::before {
            position: absolute;
            left: 20px;
            bottom: 15px;
            height: 35%;
            width: 5px;
            background-color: #FFF;
            border-radius: 10px 10px 00px 0px;
            content: "";
            transform: translateX(10px) rotate(-45deg);
            transform-origin: left bottom;
        }

        .successfully::after {
            position: absolute;
            left: 20px;
            bottom: 15px;
            height: 5px;
            width: 60%;
            background-color: #FFF;
            border-radius: 0px 10px 10px 0px;
            content: "";
            transform: translateX(10px) rotate(-45deg);
            transform-origin: left bottom;
        }
    }


    .header-text__congratulations {
        position: absolute;
        width: 100%;
        top: 40%;
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        font: 500 3rem/1rem 'Montserrat', sans-serif;
        letter-spacing: .55rem;
        text-shadow: 1px 1px 5px #232323;
    }

    .text-congratulations__container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 65%;
        width: 100%;

        .text-congratulations {
            font: 500 1.5rem/2.5rem 'Montserrat', sans-serif;
            width: 440px;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
        }
    }

}

.content-search__movie {
    position: relative;
    display: block;
    height: 50vh;
    width: auto;
    box-sizing: cover;
    background-repeat: no-repeat;
}


.logo-main__text {
    position: absolute;
    color: #F65261;
    font-family: 'Montserrat', sans-serif;
    top: 4%;
    left: 4%;
}

.bold {
    font-weight: bold;
}

.button-add__movie {
    position: absolute;
    color: #F65261;
    font: 600 1rem/1rem 'Montserrat', sans-serif;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    top: 3%;
    right: 3%;
    padding: 15px;
    text-transform: uppercase;
    background: rgba(96, 96, 96, 0.68);
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.button-add__movie:hover {
    box-shadow: 0px 0px 10px #F65261;
}

.header-logo__text {
    position: absolute;
    top: 30%;
    left: 20%;
    color: #FFF;
    text-transform: uppercase;
    font: 500 2.5rem/1rem 'Montserrat', sans-serif;
    letter-spacing: .1em;
    text-shadow: 1px 1px 5px #232323;
}

#form-search__movie {
    position: absolute;
    top: 50%;
    left: 20vw;
}

#main-search__movie {
    position: relative;
    margin-right: 5px;
    width: 45vw;
    height: 57px;
    color: #FFF;
    font: 500 1.35rem/1rem 'Montserrat', sans-serif;
    text-indent: 19px;
    background: #424242;
    border: 0;
    opacity: 0.7;
    border-radius: 4px;
}

#button-search__movie {
    position: relative;
    width: 14vw;
    height: 57px;
    color: #FFF;
    font: 500 1.35rem/1rem 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    background: #F65261;
    border: 0;
    border-radius: 4px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}


#button-search__movie:hover {
    box-shadow: 0px 0px 10px #FFF;
}

#movie-info {
    position: absolute;
    visibility: hidden;
    width: auto;
    height: 90vh;
    background: #232323;
}

.figure-card__info {
    width: 30vw;
    height: auto;
    float: left;
    margin-right: 35px;
}

#movie-info__container {
    position: relative;
    width: 30vw;
    height: 70vh;
    padding: 25px 62px 0 59px;
}

.img-movie__info {
    width: 30vw;
    height: 75vh;
    cursor: pointer;
}

.text-figcaption__info {
    font: 500 1.5rem/1rem 'Montserrat', sans-serif;
    width: 100vw;
    color: #F65261;
    letter-spacing: .1em;
    text-shadow: 1px 1px 5px #232323;
    margin-bottom: 50px;
}

.movie-description__info {
    position: relative;
    width: 100vw;
    margin-top: 50px;
}

.movie-description__name {
    position: relative;
    margin: 0 0 0 25px;
}

.description-info__name {
    display: flex;
    align-items: center;
}

.header-description__text {
    font: 500 3rem/2.5rem 'Montserrat', sans-serif;
    letter-spacing: .35rem;
    text-transform: uppercase;
    color: #FFF;
}

.rating {
    font: 500 1.8rem/2.5rem 'Montserrat', sans-serif;
    color: #FFF;
    letter-spacing: 0.1rem;
    padding: 15px;
    border: solid #FFF 1px;
    border-radius: 100%;
    margin-left: 35px;
}

.description-text {
    position: relative;
    font: 500 1.2rem/2.5rem 'Montserrat', sans-serif;
    color: #555;
}

.description-date__time {
    position: relative;
    font: 300 2.5rem/2.5rem 'Montserrat', sans-serif;
    color: #F65261;
    margin: 50px 0 25px 0;
}

.description-date {
    margin-right: 50px;
}

.description-movie__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: 55px;
}

.description-movie {
    position: relative;
    font: 500 2.2rem/2rem 'Montserrat', sans-serif;
    width: 60vw;
    color: #424242;
}

.content-movie__container {
    margin-top: 10px;
    position: relative;
    background: #232323;
    z-index: 1;
}

.navbar-movie__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px #2E2E2E;
    padding: 25px 0;
}

.navbar-movie__border {
    border-bottom: solid 1px black;
    padding-bottom: 1px;
    margin: 0 62px 0 59px;
}

.button-type__movie {
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: #232323;
    border-width: 0;
    border: 0;
}

.navbar-search__movie {
    position: relative;
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;

    .navbar-movie__text:hover {
        border-bottom: #F65261 solid 3px;
    }
}



.navbar-sort__movie {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin: 0 25px;
}

.navbar-movie__text {
    color: #FFF;
    font: 1.5rem/1rem 'Montserrat', sans-serif;
    background: #232323;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.navbar-sort__text {
    color: #CCCCCC;
    font: 1.5rem/1rem 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.arrow-4 {
    position: absolute;
    cursor: pointer;
    top: -23px;
    left: 175px;
    margin: 20px;
    width: 40px;
    height: 30px;
}

.arrow-4-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 15px;
    height: 5px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.arrow-4-left:after {
    content: "";
    background-color: #F65261;
    width: 15px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrow-4-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 5px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}

.arrow-4-right:after {
    content: "";
    background-color: #F65261;
    width: 15px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.magnifying-glass {
    position: absolute;
    top: -55px;
    right: 100px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #232323;
    border: 2px solid #F65261;
    border-radius: 50%;
}

.magnifying-glass:after {
    content: "";
    position: absolute;
    bottom: -25px;
    right: -23px;

    width: 35px;
    height: 2px;
    background-color: #F65261;

    border-radius: 0 7.5px 7.5px 0;

    transform-origin: 0 50%;
    transform: translateX(-100%) rotate(-45deg);
}

.open .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}

.open .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

.select {
    position: relative;
    display: inline-block;
}

.select:after {
    content: "▼";
    color: #F65261;
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 15px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.closeModal {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #FFF;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}

.movies-found {
    position: relative;
    margin: 25px 62px 25px 59px;
}

.movies-found__text {
    color: #FFF;
    font: 1.5rem/1rem 'Montserrat', sans-serif;
}

.main-movies__cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 62px 0 59px;
}

.movie-card {
    position: relative;
    max-width: 35vw;
    height: 70vh;
    margin: 0 25px 125px 0;
}

.button-movie__card {
    position: absolute;
    cursor: pointer;
    background-image: url('../public/images/tripple-dots__black.jpg');
    background-size: cover;
    border: 0;
    padding: 15px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
}

.card-picture {
    max-width: 35vw;
    height: 70vh;
    margin-bottom: 15px;
    cursor: pointer;
}

.figcaption-name_movie {
    color: #FFF;
    font: 1.4rem/1rem 'Montserrat', sans-serif;
    margin: 5px 0;
}

.figcaption-date_movie,
.figcaption-smaller_movie {
    color: #555;
    font: 1.25rem/1rem 'Montserrat', sans-serif;
    height: 27px;
}

.figcaption-margin {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.figcaption-date_movie {
    border: 1px solid #555;
    border-radius: 2px;
    padding: 4px 8px 5px 8px;
}


@media all and (max-width: 1600px) {

    .movie-card {
        max-width: 30vw;
        height: auto;
    }

    .card-picture {
        max-width: 30vw;
        height: auto;
    }

    .navbar-movie__container {
        flex-wrap: wrap;
    }

    .navbar-sort__text {
        margin-left: 20px;
    }

    .input-add__big {
        max-width: 63.5vw;
        min-width: 63.5vw;
    }

}

@media all and (max-width: 1236px) {

    #form-search__movie {
        left: 10vw;
    }

    .header-logo__text {
        left: 10vw;
    }

    #main-search__movie {
        width: 60vw;
    }

    .arrow-4 {
        left: 185px;
    }

    .navbar-movie__container {
        justify-content: center;
    }

    .navbar-search__movie {
        flex-direction: column;
    }



    .button-type__movie {
        margin-bottom: 55px;
    }

    .navbar-movie__text {
        margin: 0 10px;
    }

    .main-movies__cards {
        justify-content: space-around;
    }

    .add-movie__container {
        width: 80vw;
        left: 10vw;
    }

    .input-add__right {
        width: 25vw;
    }

    .input-add__big {
        max-width: 72vw;
        min-width: 72vw;
    }
}

@media all and (max-width: 768px) {

    .button-add__movie {
        font-size: .85rem;
    }

    .header-logo__text {
        font-size: 1.7rem;
    }

    #button-search__movie {
        font-size: .95rem;
        width: 20vw;
    }

    #main-search__movie {
        font-size: .95rem;
    }

    .navbar-sort__movie {
        width: 700px;
        flex-direction: column;
        align-items: center;
    }

    .main-movies__cards {
        flex-direction: column;
        align-items: center;
    }

    .movie-card {
        max-width: 45vw;
    }

    .card-picture {
        max-width: 45vw;
    }

    .button-movie__card {
        padding: 22.5px;
    }

    .navbar-movie__text,
    .navbar-sort__text {
        font-size: 1.15rem;
        margin: 0 0 15px 0;
    }

    .arrow-4 {
        left: 145px;
    }

    .closeModal {
        top: 5px;
        right: 5px;
        z-index: 3;
    }

    .add-movie__container {
        overflow: auto;
        z-index: 3;
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
    }

    .add-movie__main {
        height: 960px;
    }

    .header-add__text {
        font-size: 1.2rem;
    }

    .input-add__left {
        width: 60vw;
    }

    .input-add__right {
        width: 60vw;
        float: left;
    }

    .input-add__big {
        max-width: 60vw;
        min-width: 60vw;
    }

    .right {
        float: left;
    }

    .button-movie__submit {
        font-size: .85rem;
        width: 110px;
    }

    .button-movie__reset {
        font-size: .85rem;
        width: 110px;
    }

    .add-movie__main {
        margin: 25px;
    }
}

@media all and (max-width: 480px),
all and (max-width: 768px) and (orientation: landscape) {
    #form-search__movie {
        left: 5vw;
    }

    .header-logo__text {
        left: 5vw;
    }

    #main-search__movie {
        width: 65vw;
    }

    .navbar-sort__movie {
        flex-wrap: wrap;
    }

    .movie-card {
        max-width: 55vw;
    }

    .card-picture {
        max-width: 55vw;
    }

    .arrow-4 {
        left: 135px;
    }

    .button-movie__card {
        padding: 15px;
    }
}