* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.both {
    clear: both;
}

body {
    background: #555;
    z-index: -5;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.content-container {
    position: relative;
    height: 50vh;
    margin: 0 0 8px 0;
}

.logo {
    position: relative;
    background-image: url('./img/background.png');
    background-size: cover;
    height: 50vh;
}

.logo-main__text {
    position: absolute;
    color: #F65261;
    font-family: 'Montserrat', sans-serif;
    top: 4%;
    left: 4%;
}

.bold {
    font-weight: bold;
}

.button-add__movie {
    position: absolute;
    color: #F65261;
    font: 600 1rem/1rem 'Montserrat', sans-serif;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    top: 3%;
    right: 3%;
    padding: 15px;
    text-transform: uppercase;
    background: rgba(96, 96, 96, 0.68);
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.button-add__movie:hover {
    box-shadow: 0px 0px 10px #F65261;
}

.header-logo__text {
    position: absolute;
    top: 30%;
    left: 20%;
    color: #FFF;
    text-transform: uppercase;
    font: 500 2.5rem/1rem 'Montserrat', sans-serif;
    letter-spacing: .1em;
    text-shadow: 1px 1px 5px #232323;
}

#form-search__movie {
    position: absolute;
    top: 50%;
    left: 20vw;
}

#main-search__movie {
    position: relative;
    margin-right: 5px;
    width: 45vw;
    height: 57px;
    color: #FFF;
    font: 500 1.35rem/1rem 'Montserrat', sans-serif;
    text-indent: 19px;
    background: #424242;
    border: 0;
    opacity: 0.7;
    border-radius: 4px;
}

#button-search__movie {
    position: relative;
    width: 14vw;
    height: 57px;
    color: #FFF;
    font: 500 1.35rem/1rem 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    background: #F65261;
    border: 0;
    border-radius: 4px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

#button-search__movie:hover {
    box-shadow: 0px 0px 10px #FFF;
}





.content-movie__container {
    margin-top: 10px;
    position: relative;
    background: #232323;
}

.navbar-movie__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px #2E2E2E;
    padding: 25px 0;
}

.navbar-movie__border {
    border-bottom: solid 1px black;
    padding-bottom: 1px;
    margin: 0 62px 0 59px;
}

.button-search__movie {
    cursor: pointer;
    position: relative;
    background: #232323;
    border: 0;
}

.navbar-search__movie {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.navbar-sort__movie {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin-right: 50px;
}

.navbar-movie__text {
    color: #FFF;
    font: 1.5rem/1rem 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navbar-sort__text {
    color: #CCCCCC;
    font: 1.5rem/1rem 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navbar-sort__movie {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.arrow-4 {
    position: absolute;
    cursor: pointer;
    top: -23px;
    left: 175px;
    margin: 20px;
    width: 40px;
    height: 30px;
}

.arrow-4-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 15px;
    height: 5px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.arrow-4-left:after {
    content: "";
    background-color: #F65261;
    width: 15px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrow-4-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 5px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}

.arrow-4-right:after {
    content: "";
    background-color: #F65261;
    width: 15px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.open .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}

.open .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

.movies-found {
    position: relative;
    margin: 25px 62px 25px 59px;
}

.movies-found__text {
    color: #FFF;
    font: 1.5rem/1rem 'Montserrat', sans-serif;
}

.found-text__finished {}

.main-movies__cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 62px 25px 59px;
}

.movie-card {
    position: relative;
    max-width: 35vw;
    height: 70vh;
    margin: 0 25px 125px 0;
}

.button-movie__card {
    position: absolute;
    cursor: pointer;
    background-image: url('./img/tripple-dots__black.jpg');
    background-size: cover;
    border: 0;
    padding: 15px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
}

.card-picture__1 {
    max-width: 35vw;
    height: 70vh;
    margin-bottom: 15px;
}

.figcaption-name_movie {
    color: #FFF;
    font: 1.4rem/1rem 'Montserrat', sans-serif;
    margin: 5px 0;
}

.figcaption-date_movie,
.figcaption-smaller_movie {
    color: #555;
    font: 1.25rem/1rem 'Montserrat', sans-serif;
}

.figcaption-margin {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.figcaption-date_movie {
    border: 1px solid #555;
    border-radius: 2px;
    padding: 4px 8px 5px 8px;
}





/* .navbar-container {
    margin: 58px 58px 0 0;
}

.navbar-header__text {
    font-family: 'Montserrat', sans-serif;
    color: #CCCCCC;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 15px;
}

.navbar-header__text[colorPalette] {
    margin-top: 30px;
}

.navbar-additional__text {
    margin-top: 10px;
    font: .8rem/1em 'Montserrat', sans-serif;
}

.navbar-ol__details {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 30px;
    padding: 15px 0 0 0;
}

.navbar-ol__details .navbar-li__details {
    position: relative;
    font: 1.35em/1em 'Montserrat', sans-serif;
    color: #FFF;
    margin: 0 0 15px 0;
    padding: 0 0 10px 30px;

}

.navbar-ol__details .navbar-li__details:before {
    content: counter(num) '.';
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -26px;
    width: 20px;
    color: #76CDD8;
}

.navbar-ul__color {
    position: relative;
    margin: 0 0 0 30px;
    padding: 15px 0 0 0;
}

.navbar-li__color {
    position: relative;
    font: 1.35em/1em 'Montserrat', sans-serif;
    color: #FFF;
    margin: 0 0 12px 25px;
    padding: 0 0 0 30px;
}

.li-color__text {
    position: absolute;
    top: calc(22.5px - 10.5px);
}

.navbar-li__colorF65261 {
    list-style-image: url('./img/F65261.png');
}

.navbar-li__color424242 {
    list-style-image: url('./img/424242.png');
}

.navbar-li__color232323 {
    list-style-image: url('./img/232323.png');
}

.navbar-li__color555555 {
    list-style-image: url('./img/555555.png');
}

.navbar-li__colorFFFFFF {
    list-style-image: url('./img/FFFFFF.png');
} */